In [28]:
import pandas as pd

In [43]:
df = pd.read_excel(r'F:\JUPYTER\notbook\trainingn\csv\mansori\CleanData.xlsx')
df.head(5)

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
0,0,1400-1-تیر,24393,NA0000000000000200,سایپا,پراید,Hatchback,17049382,17000000,بی رنگ
1,1,1400-2-تیر,18177,NA0000000000000201,سایپا,پراید,Hatchback,20059011,17000000,بیرنگ
2,2,1400-3-تیر,20600,NA0000000000000202,سایپا,پراید,Hatchback,17085239,17000000,زدگی
3,3,1400-4-تیر,26210,NA0000000000000203,سایپا,پراید,Hatchback,19220924,17000000,تصادف
4,4,1400-5-تیر,24213,NA0000000000000204,سایپا,پراید,Hatchback,20566626,17000000,بدون تصادف

In [44]:
df = df.sort_values(['Milage' ,'Price' ], ascending = [False , True])

In [45]:
df.sort_index()

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
0,0,1400-1-تیر,24393,NA0000000000000200,سایپا,پراید,Hatchback,17049382,17000000,بی رنگ
1,1,1400-2-تیر,18177,NA0000000000000201,سایپا,پراید,Hatchback,20059011,17000000,بیرنگ
2,2,1400-3-تیر,20600,NA0000000000000202,سایپا,پراید,Hatchback,17085239,17000000,زدگی
3,3,1400-4-تیر,26210,NA0000000000000203,سایپا,پراید,Hatchback,19220924,17000000,تصادف
4,4,1400-5-تیر,24213,NA0000000000000204,سایپا,پراید,Hatchback,20566626,17000000,بدون تصادف
...,...,...,...,...,...,...,...,...,...,...
179,192,1400-7-مرداد,20468,NA0000000000000392,ایرانخودرو,پژو206,Sedan,27423787,21000000,زدگی
180,193,1400-8-مرداد,20747,NA0000000000000393,ایرانخودرو,پژو206,Sedan,25184712,21000000,تصادف
181,194,1400-9-مرداد,20397,NA0000000000000394,ایرانخودرو,پژو206,Sedan,23437833,21000000,بدون تصادف
182,195,1400-10-مرداد,24358,NA0000000000000395,ایرانخودرو,پژو206,Sedan,29411805,21000000,فابریک
183,196,1400-11-مرداد,27363,NA0000000000000396,ایرانخودرو,پژو206,Sedan,25025798,21000000,بی رنگ

In [46]:
df.reset_index()

,level_0,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
0,75,75,1400-14-شهریور,37886,NA0000000000000275,سایپا,پراید,Hatchback,21931446,17000000,فابریک
1,134,140,1400-17-مرداد,37360,NA0000000000000340,سایپا,پراید,Hatchback,22836393,17000000,فابریک
2,9,9,1400-10-تیر,36638,NA0000000000000209,سایپا,پراید,Hatchback,21983510,17000000,فابریک
3,74,74,1400-13-شهریور,33959,NA0000000000000274,سایپا,پراید,Hatchback,18738238,17000000,فابریک
4,133,139,1400-16-مرداد,33585,NA0000000000000339,سایپا,پراید,Hatchback,18536750,17000000,فابریک
...,...,...,...,...,...,...,...,...,...,...,...
179,135,141,1400-18-مرداد,8355,NA0000000000000341,سایپا,پراید,Hatchback,23412877,17000000,بدون تصادف
180,76,76,1400-15-شهریور,8268,NA0000000000000276,سایپا,پراید,Hatchback,22404505,17000000,بدون تصادف
181,169,182,1400-28-شهریور,4863,NA0000000000000382,ایرانخودرو,پژو206,Sedan,26671985,21000000,پوسیدگی
182,51,51,1400-21-مرداد,4168,NA0000000000000251,ایرانخودرو,پژو206,Sedan,27113849,21000000,پوسیدگی
183,117,117,1400-25-تیر,3385,NA0000000000000317,ایرانخودرو,پژو206,Sedan,27953379,21000000,پوسیدگی

In [47]:
df

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
75,75,1400-14-شهریور,37886,NA0000000000000275,سایپا,پراید,Hatchback,21931446,17000000,فابریک
134,140,1400-17-مرداد,37360,NA0000000000000340,سایپا,پراید,Hatchback,22836393,17000000,فابریک
9,9,1400-10-تیر,36638,NA0000000000000209,سایپا,پراید,Hatchback,21983510,17000000,فابریک
74,74,1400-13-شهریور,33959,NA0000000000000274,سایپا,پراید,Hatchback,18738238,17000000,فابریک
133,139,1400-16-مرداد,33585,NA0000000000000339,سایپا,پراید,Hatchback,18536750,17000000,فابریک
...,...,...,...,...,...,...,...,...,...,...
135,141,1400-18-مرداد,8355,NA0000000000000341,سایپا,پراید,Hatchback,23412877,17000000,بدون تصادف
76,76,1400-15-شهریور,8268,NA0000000000000276,سایپا,پراید,Hatchback,22404505,17000000,بدون تصادف
169,182,1400-28-شهریور,4863,NA0000000000000382,ایرانخودرو,پژو206,Sedan,26671985,21000000,پوسیدگی
51,51,1400-21-مرداد,4168,NA0000000000000251,ایرانخودرو,پژو206,Sedan,27113849,21000000,پوسیدگی
117,117,1400-25-تیر,3385,NA0000000000000317,ایرانخودرو,پژو206,Sedan,27953379,21000000,پوسیدگی

In [48]:
list (df.columns)

['index',
 'Date',
 'Milage',
 'VIN',
 'Made',
 'Model',
 'Type',
 'Price',
 'Order',
 'Explain']

In [70]:
fa_cols = ['تاریخ',
 'کیلومتر کارکرد',
 'شماره شاسی',
 'سازنده',
 'قیمت بازار',
 'قیمت کارخانه',
 'توضیحات']
en_col = ['Date',
 'Milage',
 'VIN',
 'Made',
 'Price',
 'Order',
 'Explain']

In [71]:
cols_dict = dict(zip (en_col , fa_cols))

In [72]:
cols_dict

{'Date': 'تاریخ',
 'Milage': 'کیلومتر کارکرد',
 'VIN': 'شماره شاسی',
 'Made': 'سازنده',
 'Price': 'قیمت بازار',
 'Order': 'قیمت کارخانه',
 'Explain': 'توضیحات'}

In [73]:
df.rename(columns = cols_dict, inplace = True)

In [74]:
df

,index,تاریخ,کیلومتر کارکرد,شماره شاسی,سازنده,قیمت بازار,قیمت کارخانه,توضیحات
75,75,1400-14-شهریور,37886,NA0000000000000275,سایپا,21931446,17000000,فابریک
134,140,1400-17-مرداد,37360,NA0000000000000340,سایپا,22836393,17000000,فابریک
9,9,1400-10-تیر,36638,NA0000000000000209,سایپا,21983510,17000000,فابریک
74,74,1400-13-شهریور,33959,NA0000000000000274,سایپا,18738238,17000000,فابریک
133,139,1400-16-مرداد,33585,NA0000000000000339,سایپا,18536750,17000000,فابریک
...,...,...,...,...,...,...,...,...
135,141,1400-18-مرداد,8355,NA0000000000000341,سایپا,23412877,17000000,بدون تصادف
76,76,1400-15-شهریور,8268,NA0000000000000276,سایپا,22404505,17000000,بدون تصادف
169,182,1400-28-شهریور,4863,NA0000000000000382,ایرانخودرو,26671985,21000000,پوسیدگی
51,51,1400-21-مرداد,4168,NA0000000000000251,ایرانخودرو,27113849,21000000,پوسیدگی
117,117,1400-25-تیر,3385,NA0000000000000317,ایرانخودرو,27953379,21000000,پوسیدگی

In [76]:
df.drop(columns= ["توضیحات"] , inplace = True)

In [77]:
df

,index,تاریخ,کیلومتر کارکرد,شماره شاسی,سازنده,قیمت بازار,قیمت کارخانه
75,75,1400-14-شهریور,37886,NA0000000000000275,سایپا,21931446,17000000
134,140,1400-17-مرداد,37360,NA0000000000000340,سایپا,22836393,17000000
9,9,1400-10-تیر,36638,NA0000000000000209,سایپا,21983510,17000000
74,74,1400-13-شهریور,33959,NA0000000000000274,سایپا,18738238,17000000
133,139,1400-16-مرداد,33585,NA0000000000000339,سایپا,18536750,17000000
...,...,...,...,...,...,...,...
135,141,1400-18-مرداد,8355,NA0000000000000341,سایپا,23412877,17000000
76,76,1400-15-شهریور,8268,NA0000000000000276,سایپا,22404505,17000000
169,182,1400-28-شهریور,4863,NA0000000000000382,ایرانخودرو,26671985,21000000
51,51,1400-21-مرداد,4168,NA0000000000000251,ایرانخودرو,27113849,21000000
117,117,1400-25-تیر,3385,NA0000000000000317,ایرانخودرو,27953379,21000000