In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./Data/CleanData.xlsx')

In [3]:
df.head(2)

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
0,0,1400-1-تیر,24393,NA0000000000000200,سایپا,پراید,Hatchback,17049382,17000000,بی رنگ
1,1,1400-2-تیر,18177,NA0000000000000201,سایپا,پراید,Hatchback,20059011,17000000,بیرنگ

In [4]:
df.shape

(184, 10)

In [5]:
rahvar_data = df.sample(n = 7)

In [6]:
rahvar_data['Accident'] = np.random.choice(['Moghaser' , "____" , "50%"] , 7)

In [7]:
rahvar_data.reset_index(inplace = True)

In [8]:
rahvar_data = rahvar_data[["VIN" , "Accident"]]

In [9]:
rahvar_data.to_excel("./Data/RahvarData.xlsx" , index = None)

In [10]:
rahvar_data2 = pd.read_excel("./Data/RahvarData.xlsx")

In [12]:
rahvar_data2.shape

(7, 2)

In [13]:
rahvar_data2.loc[len(rahvar_data2)] = ['NT9999000000000200' , "Moghaser"]

In [14]:
rahvar_data2

                  VIN  Accident
0  NA0000000000000212      ____
1  NA0000000000000255       50%
2  NA0000000000000358       50%
3  NA0000000000000395      ____
4  NA0000000000000254       50%
5  NA0000000000000369      ____
6  NA0000000000000313       50%
7  NT9999000000000200  Moghaser

In [15]:
left_merge = pd.merge(df , rahvar_data2 , how = 'left')

In [16]:
left_merge

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain,Accident
0,0,1400-1-تیر,24393,NA0000000000000200,سایپا,پراید,Hatchback,17049382,17000000,بی رنگ,NaN
1,1,1400-2-تیر,18177,NA0000000000000201,سایپا,پراید,Hatchback,20059011,17000000,بیرنگ,NaN
2,2,1400-3-تیر,20600,NA0000000000000202,سایپا,پراید,Hatchback,17085239,17000000,زدگی,NaN
3,3,1400-4-تیر,26210,NA0000000000000203,سایپا,پراید,Hatchback,19220924,17000000,تصادف,NaN
4,4,1400-5-تیر,24213,NA0000000000000204,سایپا,پراید,Hatchback,20566626,17000000,بدون تصادف,NaN
...,...,...,...,...,...,...,...,...,...,...,...
179,192,1400-7-مرداد,20468,NA0000000000000392,ایرانخودرو,پژو206,Sedan,27423787,21000000,زدگی,NaN
180,193,1400-8-مرداد,20747,NA0000000000000393,ایرانخودرو,پژو206,Sedan,25184712,21000000,تصادف,NaN
181,194,1400-9-مرداد,20397,NA0000000000000394,ایرانخودرو,پژو206,Sedan,23437833,21000000,بدون تصادف,NaN
182,195,1400-10-مرداد,24358,NA0000000000000395,ایرانخودرو,پژو206,Sedan,29411805,21000000,فابریک,____
183,196,1400-11-مرداد,27363,NA0000000000000396,ایرانخودرو,پژو206,Sedan,25025798,21000000,بی رنگ,NaN

In [19]:
right_merge = pd.merge(df , rahvar_data2 , how = 'right' , on = "VIN")

In [20]:
right_merge

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain,Accident
0,12.0,1400-13-تیر,10723.0,NA0000000000000212,سایپا,پراید,Sedan,14515587.0,15000000.0,تصادف,____
1,55.0,1400-25-مرداد,27360.0,NA0000000000000255,ایرانخودرو,پژو206,Sedan,25909225.0,21000000.0,بی رنگ,50%
2,158.0,1400-4-شهریور,20950.0,NA0000000000000358,ایرانخودرو,پژو206,Hatchback,26255641.0,20000000.0,تصادف,50%
3,195.0,1400-10-مرداد,24358.0,NA0000000000000395,ایرانخودرو,پژو206,Sedan,29411805.0,21000000.0,فابریک,____
4,54.0,1400-24-مرداد,24084.0,NA0000000000000254,ایرانخودرو,پژو206,Sedan,28970713.0,21000000.0,بی رنگ,50%
5,169.0,1400-15-شهریور,23386.0,NA0000000000000369,ایرانخودرو,پژو206,Hatchback,25151254.0,22000000.0,بیرنگ,____
6,113.0,1400-21-تیر,25838.0,NA0000000000000313,ایرانخودرو,پژو206,Sedan,25160257.0,21000000.0,بدون تصادف,50%
7,NaN,NaN,NaN,NT9999000000000200,NaN,NaN,NaN,NaN,NaN,NaN,Moghaser

In [21]:
inner_merge = pd.merge(df , rahvar_data2 , how = 'inner' )

In [22]:
inner_merge

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain,Accident
0,12,1400-13-تیر,10723,NA0000000000000212,سایپا,پراید,Sedan,14515587,15000000,تصادف,____
1,54,1400-24-مرداد,24084,NA0000000000000254,ایرانخودرو,پژو206,Sedan,28970713,21000000,بی رنگ,50%
2,55,1400-25-مرداد,27360,NA0000000000000255,ایرانخودرو,پژو206,Sedan,25909225,21000000,بی رنگ,50%
3,113,1400-21-تیر,25838,NA0000000000000313,ایرانخودرو,پژو206,Sedan,25160257,21000000,بدون تصادف,50%
4,158,1400-4-شهریور,20950,NA0000000000000358,ایرانخودرو,پژو206,Hatchback,26255641,20000000,تصادف,50%
5,169,1400-15-شهریور,23386,NA0000000000000369,ایرانخودرو,پژو206,Hatchback,25151254,22000000,بیرنگ,____
6,195,1400-10-مرداد,24358,NA0000000000000395,ایرانخودرو,پژو206,Sedan,29411805,21000000,فابریک,____

In [23]:
inner_merge2 = pd.merge(df , rahvar_data2  )

In [24]:
inner_merge2

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain,Accident
0,12,1400-13-تیر,10723,NA0000000000000212,سایپا,پراید,Sedan,14515587,15000000,تصادف,____
1,54,1400-24-مرداد,24084,NA0000000000000254,ایرانخودرو,پژو206,Sedan,28970713,21000000,بی رنگ,50%
2,55,1400-25-مرداد,27360,NA0000000000000255,ایرانخودرو,پژو206,Sedan,25909225,21000000,بی رنگ,50%
3,113,1400-21-تیر,25838,NA0000000000000313,ایرانخودرو,پژو206,Sedan,25160257,21000000,بدون تصادف,50%
4,158,1400-4-شهریور,20950,NA0000000000000358,ایرانخودرو,پژو206,Hatchback,26255641,20000000,تصادف,50%
5,169,1400-15-شهریور,23386,NA0000000000000369,ایرانخودرو,پژو206,Hatchback,25151254,22000000,بیرنگ,____
6,195,1400-10-مرداد,24358,NA0000000000000395,ایرانخودرو,پژو206,Sedan,29411805,21000000,فابریک,____

In [25]:
outer_merge2 = pd.merge(df , rahvar_data2   , how = "outer")

In [26]:
outer_merge2

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain,Accident
0,0.0,1400-1-تیر,24393.0,NA0000000000000200,سایپا,پراید,Hatchback,17049382.0,17000000.0,بی رنگ,NaN
1,1.0,1400-2-تیر,18177.0,NA0000000000000201,سایپا,پراید,Hatchback,20059011.0,17000000.0,بیرنگ,NaN
2,2.0,1400-3-تیر,20600.0,NA0000000000000202,سایپا,پراید,Hatchback,17085239.0,17000000.0,زدگی,NaN
3,3.0,1400-4-تیر,26210.0,NA0000000000000203,سایپا,پراید,Hatchback,19220924.0,17000000.0,تصادف,NaN
4,4.0,1400-5-تیر,24213.0,NA0000000000000204,سایپا,پراید,Hatchback,20566626.0,17000000.0,بدون تصادف,NaN
...,...,...,...,...,...,...,...,...,...,...,...
180,193.0,1400-8-مرداد,20747.0,NA0000000000000393,ایرانخودرو,پژو206,Sedan,25184712.0,21000000.0,تصادف,NaN
181,194.0,1400-9-مرداد,20397.0,NA0000000000000394,ایرانخودرو,پژو206,Sedan,23437833.0,21000000.0,بدون تصادف,NaN
182,195.0,1400-10-مرداد,24358.0,NA0000000000000395,ایرانخودرو,پژو206,Sedan,29411805.0,21000000.0,فابریک,____
183,196.0,1400-11-مرداد,27363.0,NA0000000000000396,ایرانخودرو,پژو206,Sedan,25025798.0,21000000.0,بی رنگ,NaN
184,NaN,NaN,NaN,NT9999000000000200,NaN,NaN,NaN,NaN,NaN,NaN,Moghaser

# Filtering Data

In [31]:
df[~df['VIN'].isin(rahvar_data2['VIN'])]

,index,Date,Milage,VIN,Made,Model,Type,Price,Order,Explain
0,0,1400-1-تیر,24393,NA0000000000000200,سایپا,پراید,Hatchback,17049382,17000000,بی رنگ
1,1,1400-2-تیر,18177,NA0000000000000201,سایپا,پراید,Hatchback,20059011,17000000,بیرنگ
2,2,1400-3-تیر,20600,NA0000000000000202,سایپا,پراید,Hatchback,17085239,17000000,زدگی
3,3,1400-4-تیر,26210,NA0000000000000203,سایپا,پراید,Hatchback,19220924,17000000,تصادف
4,4,1400-5-تیر,24213,NA0000000000000204,سایپا,پراید,Hatchback,20566626,17000000,بدون تصادف
...,...,...,...,...,...,...,...,...,...,...
178,191,1400-6-مرداد,18297,NA0000000000000391,ایرانخودرو,پژو206,Sedan,26074315,21000000,بیرنگ
179,192,1400-7-مرداد,20468,NA0000000000000392,ایرانخودرو,پژو206,Sedan,27423787,21000000,زدگی
180,193,1400-8-مرداد,20747,NA0000000000000393,ایرانخودرو,پژو206,Sedan,25184712,21000000,تصادف
181,194,1400-9-مرداد,20397,NA0000000000000394,ایرانخودرو,پژو206,Sedan,23437833,21000000,بدون تصادف
183,196,1400-11-مرداد,27363,NA0000000000000396,ایرانخودرو,پژو206,Sedan,25025798,21000000,بی رنگ